@import "./variables.scss";

body {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto";
}

.content-container {
  display: grid;
  grid-template-rows: 60px 300px 1fr 47px;
  height: 100vh;

  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .left-nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 90px;
      padding-left: 25px;

      a {
        text-decoration: none;
        font-size: 11pt;
        color: $left-nav-text;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .right-nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 200px;
      padding-right: 20px;

      a {
        text-decoration: none;
        font-size: 10pt;
        color: $right-nav-text;

        &:hover {
          text-decoration: underline;
        }
      }

      svg {
        color: $nine-dots;
        fill: currentColor;
        width: 24px;
        height: 24px;
        cursor: pointer;
      }

      img {
        border-radius: 50%;
        cursor: pointer;
      }
    }
  }

  .google-image-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  .search-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 150px;

    .search-bar-container {
      display: flex;
      justify-content: space-around;
      align-items: center;
      border: 1px solid $search-border;
      margin: 10px;
      padding: 10px;
      border-radius: 50px;
      width: 560px;

      &:hover {
        box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
      }

      i {
        font-size: 14px;
        color: $search-icon;
      }

      svg {
        width: 25px;
        height: 25px;
        cursor: pointer;
      }

      input {
        border: none;
        background: transparent;
        width: 443px;
        font-size: 12pt;

        &:focus {
          outline: none;
        }
      }
    }

    .search-buttons {
      display: flex;
      justify-content: center;

      button {
        padding: 10px 15px;
        margin: 5px;
        border: none;
        background-color: $searach-button;
        border: 1px solid $searach-button;
        cursor: pointer;

        &:hover {
          border: 1px solid $search-border;
        }
      }
    }
  }

  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: $footer-background;

    a {
      text-decoration: none;
      font-size: 11pt;
      color: $footer-text;

      &:hover {
        text-decoration: underline;
      }
    }

    .footer-left {
      display: flex;
      justify-content: space-around;
      width: 320px;
      padding-left: 20px;
    }

    .carbon-footer {
      img {
        height: 14px;
      }
    }

    .footer-right {
      display: flex;
      justify-content: space-around;
      width: 220px;
      padding-left: 100px;
      padding-right: 20px;
    }
  }
}

@media (max-width: 960px) {
  .content-container {
    display: grid;
    grid-template-rows: 60px 300px 1fr 150px;

    .footer-container {
      display: flex;
      flex-direction: column;
      padding: 20px;

      .footer-left {
        padding: 0px;
      }

      .carbon-footer {
        order: -1;
      }

      .footer-right {
        padding: 0px;
      }
    }
  }
}
