// nav colors
$left-nav-text: #202124;
$right-nav-text: #000000de;
$nine-dots: #5e6368;

// search colors
$search-border: #dfe1e5;
$search-icon: #9aa0a6;
$searach-button: #f8f9fa;

// footer colors
$footer-background: #f2f2f2;
$footer-text: #70757a;
